<app-header></app-header>
<main class="main-content">
  <router-outlet></router-outlet>
  <app-observables-preview [observablesPreview]="observableMergeMap"></app-observables-preview>
  <app-observables-preview [observablesPreview]="observableExhaustMap"></app-observables-preview>
  <app-observables-preview [observablesPreview]="observableConcatMap"></app-observables-preview>
  <app-observables-preview [observablesPreview]="observableSwitchMap"></app-observables-preview>
</main>
<app-footer></app-footer>