.web-snap-card {
  width: min(45dvw, 50dvw);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: rgb(0, 0, 0);
  box-shadow:
    0 0 3px 0 #fff,
    0 0 6px 0 #6f6c39;
  border-radius: 0.25rem;
  padding: .5em 1em;
  margin: 1em .5em;
}

.web-snap-card-liked{
  background-color:#6f6c391a;
}

.web-snap-title,
p:has(>.created-date) {
  margin-block: 0 .25rem;
  padding-inline: .5rem;
  padding-block: .25rem;
}

.created-date {
  font-size: .785rem;
  font-weight: 600;
  font-family: monospace;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

p:not(:has(>.created-date)) {
  padding-block: .25rem;
  padding-inline: 1rem;
}

.like-cta {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.05rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  background-color: #fff;
  color: #97900f;
  border: unset;
  outline: 1px solid #97900f;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25em 0.5em;
  margin-inline: 1rem;
  transition: outline .125s ease-out, background-color .125s ease-out, color .125s ease-out;
}

.like-cta:hover {
  outline: 3px solid #97900f;
}

.like-cta:active {
  background-color: #97900f;
  color: #efe861;
  outline: unset;
}

.like-cta-active {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.05rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  border: unset;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25em 0.5em;
  background-color: #97900f;
  color: #efe861;
  margin-inline: 1rem;
  outline: unset;
  transition: outline .125s ease-out, background-color .125s ease-out, color .125s ease-out;
}

.like-cta-active:hover {
  background-color: #6f6c39;
}

.like-cta-active:active {
  background-color: #5e5d4a;
}