/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after{
  box-sizing:border-box;
  max-width:100%;
  font-family:"Raleway", system-ui, sans-serif;
}

::selection{
  background-color:#111;
  color:#fff;
}

h1,h2,h3,h4,h5,h6{
  font-family:"Ubuntu", sans-serif;
}

body{
  margin:0;
  padding:0;
  word-wrap:break-word;
}

a,
a:visited{
  text-decoration:underline;
  cursor:pointer;
  color:#7c6791;
}

a:hover,
a:active{
  color:#635374;
}

button {
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  background-color: #fff;
  color: #97900f;
  border: unset;
  outline: 1px solid #97900f;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25em 0.5em;
  margin-inline: auto;
  transition: outline 0.075s ease-out, background-color 0.075s ease-out,
    color 0.075s ease-out;
}
button:hover {
  outline: 3px solid #97900f;
}
button:active {
  background-color: #97900f;
  color: #efe861;
  outline: unset;
}

button.active {
  background-color: #97900f;
  color: #efe861;
  outline: unset;
}

button.inactive {
  background-color: #403f32;
  color: #efe861;
  outline: unset;
}

p{
  padding-inline:.25rem;
}