/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after{
  box-sizing:border-box;
  max-width:100%;
  font-family:"Raleway", system-ui, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family:"Ubuntu", sans-serif;
}